.template {
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
    align-items: center;
    width: 100%;
    background: #f4f7fcbf;
    column-gap: 20px;
    height: 40px;

    .checkboxMin {
      height: 30px;
      cursor: pointer;
      margin-left: 1px;
    }

    .checkbox {
      height: 20px;
      width: 20px;
      cursor: pointer;
      margin-left: 10px;
    }

    .id {
      display: flex;
      width: 36px;
      height: 40px;
      align-items: center;

      .img {
        cursor: pointer;
      }

      .imgRev {
        cursor: pointer;
        transform: rotate(180deg);
      }
    }
    .name {
      display: flex;
      width: 160px;

      .img {
        cursor: pointer;
      }
    }

    .description {
      display: flex;
      width: 238px;
    }
    .status {
      display: flex;
      width: 70px;
    }
    .rate {
      display: flex;
      justify-content: end;
      width: 100px;
    }
    .balance {
      display: flex;
      justify-content: end;

      width: 100px;
    }
    .deposit {
      display: flex;
      width: 100px;
      justify-content: end;
    }
  }
}

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
